<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/estilos.css" rel="stylesheet" type="text/css"/>
    <title>Bienvenidos!</title>
</head>
<body>

<div class="container">
    <h3>Bienvenidos a pedidos</h3>
    <div class="row">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">
                    Clients
                </h5>

                <p class="card-text">
                    Desde aqui podremos realizar el mantenimiento de clientes
                </p>

                <a th:href="@{/clients}" class="btn btn-primary">
                    Client
                </a>

            </div>
        </div>
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">
                    Product
                </h5>

                <p class="card-text">
                    Desde aqui podremos realizar el mantenimiento de product
                </p>

                <a th:href="@{/products}" class="btn btn-primary">
                    Product
                </a>

            </div>
        </div>

    </div>
</div>

<footer>
    &COPY;2019;Elvis
</footer>

</body>
</html>
